<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Action - MeetScribe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <div class="selection-page-container">
        <h1 class="welcome-title">Choose Your Action</h1>
        <div class="selection-buttons">
            <a href="/chat" class="option-button">Meety (Chatbot)</a>
            <a href="/dashboard" class="option-button">Dashboard</a>
        </div>
    </div>
</body>
</html>
